extends layout

block content
  h1= title
  strong Welcome to #{title}.
  p This is a confirmation that this container is up and running, in order to GET, POST, PUT, DELETE, you need to hit the dedicated endpoints.
